<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Document</title>
</head>
<body>
  
  <div id="root" class="container">

    <aside class="left">
      <section class="up">
        <div class="profile">
          <img :src="'img/darth'+ pic +'.jpg'" alt="nome.nome">
          <span>{{nome}}</span>
        </div>
        <div class="settings">
          <i class="fas fa-circle-notch icons"></i>
          <i class="fas fa-comment-alt icons"></i>
          <i class="fas fa-ellipsis-v icons"></i>
        </div>
      </section>
      <section class="down">
        <div class="notifiche">
          <i class="fas fa-bell-slash"></i>
          <div>
            <p>Ricevi notifiche di nuovi messaggi</p>
            <a class="link" href="#">Attiva notifiche desktop</a>
          </div>
        </div>
        <div class="search">
          <i class="fas fa-search icons"></i>
          <input v-model="utente"
                 @keyup.enter="search_ut(utente)" 
                 type="text" placeholder="Cerca o inizia una nuova chat">
        </div>
        <div class="utenti">

          <div 
               v-for= "(utente, index) in contacts"
               v-if="utente.visible === true"
               :style="(index === contacts.length - 1) ?'border-bottom:none': null"
               :class="(position === index) ? 'active' : 'null'"
               @click="mouse(index)"
               class="names"
          >
            <div class="logo_utente">
              <img :src="'img/avatar'+ utente.avatar +'.jpg'"  alt="utente.name">
            </div>
            <div class="nome_utente">
              <p>{{utente.name}}</p>
              <p class="last_mess"> {{last_sms(index)}}</p>
            </div>
            <div>
              <p class="last_time"> {{last_acc(index)}}</p>
            </div>
          </div>
        </div>
      </section>
    </aside>
    <main class="right">
      <header>
        <div class="utente_send">
          <img :src="'img/avatar'+ contacts[position].avatar +'.jpg'"  alt="contacts.name">
          <div class="info">
            <p>{{contacts[position].name}}</p>
            <p class="data_utente">Ultima accesso ore: {{last_acc(position)}}</p>
          </div> 
        </div>
        <div class="settings_chat">
          <i class="fas fa-search icons"></i>
          <i class="fas fa-paperclip icons"></i>
          <i class="fas fa-ellipsis-v icons"></i>
        </div>
      </header>
      <section>
        <div class="cover">
          <div v-for="message in contacts[position].messages"
               :class="message.status"
               class="line">
            <div class="sms">
              <div class="txt">
                <p>{{message.text}}</p>
                <span class="arrow">
                  <i 
                     @click="min_menu()"
                     class="fas fa-chevron-down visibility"
                  >
                     <div
                          class="add_box"
                          :class="(active_box === true) ? 'disp_in': 'null'"
                     >
                      <p>Message info</p>
                      <p>Delete message</p>
                     </div>
                  </i>
                </span>
              </div>
              <div class="date">{{message.date}}</div>
            </div>
          </div>
      </section>
      <footer>
        <i class="far fa-smile"></i>
        <input 
               type="text" 
               placeholder="Scrivi un messaggio"
               v-model.trim="messaggio"
               @keyup.enter="messaggio_out"
        >
        <i class="fas fa-microphone"></i>
      </footer>
    </main>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
  <script src="assets/js/script.js"></script>
</body>
</html>